<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="col-6">
        <h3><a href="/admin/">АДМИНКА</a></h3>
    </div>
    <div class="col-6"><h1>КАТАЛОГ</h1></div>
</div>
<div class="row">
    <div class="col-4">
        <h3><a href="/contacts/">КОНТАКТЫ</a></h3>
    </div>
    <div class="col-4">
        <h1><a href="/print/">КАРТИКА</a></h1>
    </div>
    <div class="col-4">
        <h3><a href="/album/"></a></h3>
    </div>
</div>


</body>
</html>